<section class="bg-light py-4">
    <div class="container">
        <h1 class="main_head"> Task Description: </h1>
        <p>1.Create a webpage for a CRM application to enter the details of a user. This is a basic registration page where the end-user can register a customer by entering all their desired details. The fields of the page are following.
        </p>
        <p>

            Field Name Data Type Field Type Notes<br> 1 First Name VarChar Text Field Place proper field hint. <br> 2 Middle Name VarChar Text Field Place proper field hint. <br> 3 Last Name VarChar Text Field Place proper field hint.<br> 4 Gender M/F/O
            Radio Button Place proper field hint. <br> 5 Mobile Number Integers Text Field Place proper field hint. <br> 6 Email Address VarChar Text Field Place proper field hint. <br>7 Postal Address VarChar Text Field <br> 8 Aadhaar Number Integers
            Text Field <br>9 Pan card Number VarChar Text Field <br>10 Photo Upload - Upload Icon Space of image preview <br> 11 Document Upload - Upload Icon Space of image preview<br> 12 Submit Button - Button Message on Submit
            <br>
            <br>
            <br> 2. Standing Instructions: a. Kindly give attention to detail in creating this form. b. You can use either HTML/CSS/JavaScript/Angular (Ng Forms) for creating this page. c. Do give attention to colors and textures. d. Take assumptions
            by yourself to enhance the design. e. On completion take a clear snapshot and share back with the HR over the same mail trail.
            <br><br>  For any queries, please reach out to the HR team.  The submission is to be done latest by 19 th Nov’ 2021</p>
    </div>
</section>