<section>
    <div class="container">
        <div style="min-height: 370px;">
            <h3 class="py-3 fs-1 text-center text-success">Working on below points.</h3>
            <h4>> Success message</h4>
            <h4>> Form Data update to the server- fetch value in table</h4>
            <h4>> Fetch users from from get user - using http client service.</h4>
            <h4>> Local stroage</h4>
            <h4>> Add Delete users</h4>
        </div>
        <div class="text-suceess py-4 text-center display-1">
            <h3>
                Thank You :-)
            </h3>
        </div>
    </div>
</section>